SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_ANON_KEY=
ADMIN_PASSWORD=
ADMIN_SECRET=
ALLOWED_ORIGINS=https://odysseymag.netlify.app,https://theodysseymag.co.za,https://www.theodysseymag.co.za
